@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--bg-dark: #1c181d;
	--bg-2: #f1f1f1;
	--bg-search-D-border: #616161;
	--bg-search-bg: #303030;
	--txt-wht: white;
	--name-bg: #36fba1;
	--name-txt: rgba(0, 0, 0, 0.4);
	--alert-brd: #dbdbdb;
	--cl2-txt: #616161;
	--profile-focus: #656266;
	--popup-bg: #1a1a1a;
	--txt-2: #e3e3e3;
	--btn-txt: #323232;
}

.container {
	padding: 0 1rem;
}

.contentContainer,
.settingsContainer {
	margin: 0 auto;
	max-width: 800px;
}

body {
	font-family: 'Inter', sans-serif;
}

button {
	font-family: 'Inter';
	background-color: inherit;
	border: none;
}

a {
	color: inherit;
}

li {
	list-style: none;
}

h3 {
	font-weight: inherit;
}

/* --> NAVBAR STARTS <-- */
.navbar {
	background-color: var(--bg-dark);
}

.navLinks {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px 0;
}

.search {
	max-width: 480px;
}

#search {
	background-color: var(--bg-search-bg);
	border: 1px solid var(--bg-search-D-border);
	width: 100%;
	padding: 8px;
	border-radius: 8px;
}

.profile {
	display: flex;
	font-weight: 400;
	font-size: 12px;
	gap: 10px;
	cursor: pointer;
}

.notification,
.userProfile {
	background-color: var(--bg-search-bg);
	display: flex;
	font-size: 12px;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	border: none;
}

.notification {
	width: 32px;
	height: 32px;
}

.userProfile {
	color: var(--txt-wht);
	height: 32px;
	padding: 2px 0;
	padding-left: 8px;
	padding-right: 2px;
}

.name,
.userInitials {
	display: flex;
	align-items: center;
	background-color: var(--name-bg);
	color: var(--name-txt);
	height: 100%;
	padding: 10px 5px;
	border-radius: 6px;
}

.name {
	margin-left: 8px;
}

/* --> NAVBAR HOVER AND FOCUS STATES STARTS <-- */

.notification:focus,
.userProfile:focus {
	background-color: var(--profile-focus);
	outline: none;
}
.notification:hover,
.userProfile:hover {
	background-color: var(--profile-focus);
	outline: none;
}

/* --> NAVBAR HOVER AND FOCUS STATES ENDS <-- */

/* --> DROP-MENUS STARTS <-- */
.alertSection {
	position: relative;
}

.alerts {
	display: none;
	position: absolute;
	/* display: flex; */
	flex-direction: column;
	gap: 16px;
	border: 1px solid var(--alert-brd);
	width: 383px;
	padding: 16px;
	border-radius: 14px;
	right: 1rem;
	top: 0.5rem;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
}

.storeDetails {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
	width: 320px;
}

.alertHead,
.alertIcons {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: var(--bg-search-bg);
}

.alertIcons {
	gap: 1rem;
}

.alertBody {
	background-color: var(--bg-2);
	color: var(--cl2-txt);
	font-size: 13px;
	text-align: center;
	padding: 16px 0;
}

/* --> SHOP-MENUS STARTS <-- */

.userDetails,
.storeHeader,
.allStores {
	display: flex;
	align-items: center;
	color: var(--bg-search-bg);
	gap: 8px;
	font-size: 13px;
	font-weight: 600;
	line-height: 140%;
}

.allStores {
	font-weight: 400;
	font-size: 13px;
	border-bottom: 1px solid var(--alert-brd);
	padding: 6px 0;
	margin-left: 6px;
}

.storeDetails {
	display: none;
	max-width: 320px;
	border: 1px solid var(--alert-brd);
	border-radius: 14px;
	/* padding: 6px; */
}

.storeHeader {
	background-color: var(--bg-2);
	justify-content: space-between;
	padding: 4px 8px 4px 12px;
	border-radius: 8px;
	margin: 6px;
}

.userInitials {
	font-size: 10.5px;
	width: 28px;
	height: 28px;
}

.storeFunctions,
.personalFunctions {
	font-size: 14px;
}

.storeFunctions {
	border-bottom: 1px solid var(--alert-brd);
}

.userName {
	display: flex;
	flex-direction: column;
}

li {
	padding: 6px;
	margin-left: 6px;
}

.email {
	font-size: 12px;
	font-weight: 400;
	color: var(--bg-search-D-border);
}
/* --> SHOP-MENUS  ENDS <-- */
/* --> DROP-MENUS  ENDS <-- */

/* --> NAVBAR ENDS <-- */

.plans {
	display: flex;
	font-size: 13px;
	color: var(--txt-2);
	flex-wrap: wrap;
	padding: 12px 16px;
	border-radius: 8px;
	background-color: var(--popup-bg);
	align-items: center;
	justify-content: space-between;
}

.plans button {
	font-size: 12px;
	border: none;
	outline: none;
}

.planBtns {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: space-between;
}

.selectPlanBtn {
	background: white;
	color: var(--btn-txt);
	padding: 6px 12px;
	border-radius: 6px;
	font-size: 12px;
	font-weight: 600;
	line-height: 130%;
}

.close {
	padding: 6px;
}

.settings {
	border-radius: 18px;
	border: 1px solid var(--stroke-s-50, #dbdbdb);
	background: var(--White, #fff);
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
	padding: 16px;
}

/* .storeGuide {
	
} */

/* --> PROGRESSBAR  STARTS <-- */
.progress-container {
	width: 72px;
	height: 4px;
	background-color: #e3e3e3;
	border-radius: 4px;
	overflow: hidden;
}

#myProgressBar {
	width: 30%;
	height: 100%;
	background-color: var(--popup-bg);
	transition: width 0.3s ease-in-out;
}
/* --> PROGRESSBAR  ENDS <-- */
